  <lr-slotted-card>
		<lfr-editable id="banner" slot="c_image_banner" type="image">
			<img  class="test-image" style="width:100%;height:100%" src="">
		</lfr-editable>
		<lfr-editable id="logo" slot="c_image" type="image">
			<img style="width:100%;height:100%" class="test-image" src="">
		</lfr-editable>
    <h3 slot="c_title" data-lfr-editable-id="title" data-lfr-editable-type="text">asd asd asd asd</h3>
		<p slot="c_date" data-lfr-editable-id="date" data-lfr-editable-type="text">asd asd asd asd</p>
		<a slot="c_link" data-lfr-editable-id="link" data-lfr-editable-type="link">Test</a>
  </lr-slotted-card>